<div class="panel-heading">
  <h2 class="text-center">First <%= @employees.first(50).count %> employees details</h2>
</div>

<div class="panel-body">
  <table class="table table-striped table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone Number</th>
      </tr>
    </thead>
    <tbody>
      <% @employees.order(:name).first(50).each do |employee| %>
        <tr>
          <td> <%= employee.name %> </td>
          <td> <%= employee.email %> </td>
          <td> <%= employee.phone_number %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="panel-footer">
  <p class="text-right">downloaded on: <%= Time.new.strftime("%d/%m/%Y  %H:%M:%S") %></p>
</div>