<div class="panel-head">
  <h1 class="success"> <%= @employee.id %> detail</h1>
</div>

<div class="panel-body">
  <p>Name: <%= @employee.name %> </p>
  <p>Email: <%= @employee.email %> </p>
  <p>Phone Number: <%= @employee.phone_number %> </p>
</div>

<div class="panel-footer">
  <p class="warning"> <%= @employee.id %> is craeted at <%= @employee.created_at %> </p>
</div>