<div class="panel-heading">
  <h1 class="text-center"> Employee-ID: <%= @employee.id %> details</h1>
</div>

<div class="panel-body text-center">
  <p>Name: <span class="text-primary"><%= @employee.name %></span> </p>
  <p>Email: <span class="text-primary"> <%= @employee.email %> </span></p>
  <p>Phone Number: <span class="text-primary"> <%= @employee.phone_number %> </span> </p>
</div>

<div class="panel-footer">
  <p class="text-warning text-center">Employee ID: <%= @employee.id %> is created at <span class="text-success"><%= @employee.created_at %></span> </p>
</div>