<div class="panel-heading">
  <h1 class="text-center"> Employee-ID: E00<%= @employee.id %></h1>
</div>

<div class="panel-body">
  <div class="col-md-4 col-md-offset-4">
    <p><strong>Name:</strong> <span class="text-primary"><%= @employee.name %></span> </p>
    <p><strong>Email:</strong> <span class="text-primary"> <%= @employee.email %> </span></p>
    <p><strong>Phone Number:</strong> <span class="text-primary"> <%= @employee.phone_number %> </span> </p>
  </div>
</div>

<div class="panel-footer">
  <p class="text-warning text-center">employee ID: <%= @employee.id %> is created at: <span class="text-success"><%= @employee.created_at.strftime("%d/%m/%Y  %H:%M:%S") %>UTC</span> </p>
  <%= link_to 'Back', employees_path, class: "btn btn-default btn-warning"  %>
</div>