<div class="panel-head">
  <h1 class="success"> <%= @student.id %> detail</h1>
</div>

<div class="panel-body">
  <p>Name: <%= @student.name %> </p>
  <p>Email: <%= @student.email %> </p>
  <p>Phone Number: <%= @student.phone_number %> </p>
</div>

<div class="panel-footer">
  <p class="warning"> <%= @student.id %> is craeted at <%= @student.created_at %> </p>
</div>