<div class="panel-heading">
  <h1 class="text-center"> User-ID: U00<%= @user.id %></h1>
</div>

<div class="panel-body">
  <div class="col-md-4 col-md-offset-4">
    <p><strong>Name:</strong> <span class="text-primary"><%= @user.name %></span> </p>
    <p><strong>Email:</strong> <span class="text-primary"> <%= @user.email %> </span></p>
    <p><strong>Phone Number:</strong> <span class="text-primary"> <%= @user.phone_number %> </span> </p>
  </div>
</div>

<div class="panel-footer">
  <p class="text-warning text-center">user ID: <%= @user.id %> is created at: <span class="text-success"><%= @user.created_at.strftime("%d/%m/%Y  %H:%M:%S") %>UTC</span> </p>
  <%= link_to 'Back', users_path, class: "btn btn-default btn-warning"  %>
</div>