<!DOCTYPE html>
<html>
  <head>
    <title>UserApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1 class="text-center brand fixed-top">User App</h1>
      <span class=" home"> <%= link_to "Home", root_path %> </span>
    </header>
    <div class="container"> 
      <% flash.each do|name, msg| %>
        <%= content_tag :div, msg, class: "text-center text-success alert aler-info" %>
      <% end %>
      <div class="col-md-10 col-md-offset-1">
        <div class="row">
          <div class="panel panel-default">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>

    <footer class="fixed-bottom">
      <p class="text-center">&copy; copyright ISO 20001</p>
    </footer>
  </body>
</html>
