<!DOCTYPE html>
<html>
  <head>
    <title>UserApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= wicked_pdf_stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= wicked_pdf_javascript_include_tag "2" %>
  </head>

  <body>
    <div class="container">
      <div class="col-md-6 col-md-offset-3">
        <div class="row">
          <div class="panel panel-default">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
